body {
    font-size: 10px;
}

#content {
}

dt {
    text-align: center;
    padding-bottom: 0.2em;
}
dl {
  /*  height: 300px; */
    font-size: 2.5em;
    list-style-type: none;
    padding: 0em 0.4em 0em 0em;
    display: inline-block;
    width: 23%;
    min-width: 10.8em;
    vertical-align: top;
}

dd.task {
    margin: 0.40em 0.1em 0.1em;
    padding: 0.1em;
    font-size: 0.8em;
    min-height: 1.55em;
    border: 0.12em #1C140D solid;
    background-color: #CBE86B;
    display: block;
}
dd.taskDone{
    background-color: rgb(177, 177, 177);
}
.taskButton {
    font-size: 1.2em;
    background: none;
    min-width: 1.4em;
    height: 1.45em;
    border: 0em;
    padding: 0em;
    margin: 0.05em 0em 0em;
}

.taskHit button.taskButton:hover {
    background: none;
    color: blue;
    cursor: crosshair;
}

.taskButton:hover {
    color: red;
}

li {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    /* Since column-break-inside : avoid; doesn't work, we use inline-block instead. */
    display: inline-block;
    margin-left: -0.1em;
    margin-right: -0.1em;
}

ul {
    padding: 0em;
    margin: 0em;
}

li.taskButtons {
    float: right;
    text-align: right;
    padding-right: 0.3em;
    margin-top: -0.17em;
}

li.taskhit {
    float: right;
    margin-top: -0.17em;
    padding-bottom:5px;
}
li.taskhit span{
    position: relative;
    top: -0.8em;
    font-size: 0.6em;
    text-shadow: 0.01em 0.01em 0.1em black;
    padding-right: 1em;
}
li.taskText {
    font-size: 0.6em;
    margin-left: -0.3em;
    min-width: 6.2em;
    padding: 0.7em 0em 0.3em 0.7em;
    margin-right: 0em;
    text-shadow: 0.01em 0.01em 0.1em black;
}

button.taskdeletebutton {
    background: url('delete.png') no-repeat;
}

button.taskeditbutton {
    background: none;
}

* {
    font-family: "Verdana", sans-serif;
    color: #1C140D;
}

input.add {
    width: 90%;
    height: 2em;
    margin: 0em;
    border: 0.15em #1C140D solid;
    background: #F2E9E1;
    font-size: 0.6em;
    padding: 0em 0em 0em 0.5em;
}

button.add:hover {
    cursor: hand;
    font-weight: bold;
}

button.add:active {
    color: red;
}

button.add {
    height: 2.25em;
    padding: 0em;
    border: 0em;
    width: 2em;
    display: inline-block;
    vertical-align: middle;
    margin: 0.15em 0em 0;
}

.list_reward .task {
    background: #4DBCE9;
    border: 0.1em rgb(8, 115, 175) solid;
}
#hp{
    width: auto;
    height: 36px;
    margin: 0px;
    position: fixed;
    top: 0;
    right: 0;
}
#hp span {
    padding-right:3px;
    font-size: 3.3em;
    text-shadow: 0.01em 0.01em 0.05em black;
}
#credits{
    width: auto;
    height: 36px;
    margin: 0px;
    position: fixed;
    top: 36;
    right: 0;
}
#credits span {
    padding-right:3px;
    font-size: 3.3em;
    text-shadow: 0.01em 0.01em 0.05em black;
}
#footer {
    margin: 0px;
    padding: 0px;
    position: fixed;
    bottom: 0;
    right: 10;
    max-height: 128px;
}
#trash{
}
.button{
    background: blue;
    width: 128px;
    height: 128px;
}
.buttonHover{
    zoom: 1.1;
}
#header{
    margin:0px;
    height: 128px;
}
.validateTips{
    text-align: center;
}
/*
* UI FIXES
*/
.ui-dialog .ui-dialog-titlebar-close, .ui-dialog-titlebar{
  display: none;
}
.ui-dialog .ui-dialog-title {
    width: 100%;
}
.ui-dialog-titlebar {
text-align: center;
}
.ui-widget-overlay {
background: black;
}
.ui-icon, .ui-widget-content .ui-icon, .ui-widget-header .ui-icon {
background: none;
}
/*
*/
fieldset{
    border: 0px;
}