{% load staticfiles %}
{% block listHead %}
<dl class={% if type == 4 %}list_reward{% else %}list_habit{% endif %} id=list{{ type }} class=sortable>
    <dt>{% if type == 4 %}Reward's{% endif %}{% if type == "1" %}Habit's{% endif %}{% if type == "0" %}TODO's{% endif %}{% if type == "2" %}Daily's{% endif %}<br/>
        <input class=add id=habit_title{{ type }} type=text/><button id=addNewHabit class=add>+</button>
    </dt>
{% endblock listHead%}
{% block listItems %}
    {% if tasks %}
    {% for task in tasks %}
        <dd class=task id={{ task.id }}>
        <ul>
            {% if task.cost %}<li class=taskHit>
                <img src={% static 'tasks/images/dolars.png' %} /><span>{{ task.cost }}</span>
            </li>{% endif %}
            <li class=taskText>{{ task.title }}</li>
        </ul>
    </dd>
    {% endfor %}
{% else %}
{% endif %}
{% endblock listItems %}
{% block listFooter %}
</dl>
{% endblock listFooter %}