<dl class=listHabit id=sortable>
    <dt>Habits<br/>
        <input class=add id=habit_title type=text/><button id=addNewHabit class=add>+</button>
    </dt>
    {% if tasks %}
    {% for task in tasks %}
        <dd class=task id={{ task.id }}>
        <ul>
            <li class=taskHit>
                <button class="taskButton">☒</button><button class="taskButton">☑</button>
            </li>
            <li class=taskText>{{ task.title }}</li><li class=taskButtons>
                <button class="taskButton taskEditButton">✎</button>
            </li>
        </ul>
    </dd>
    {% endfor %}
{% else %}
{% endif %}
</dl>