{% block listHead %}
<dl class=listHabit id=list{{ type }} class=sortable>
    <dt>{% if type == "1" %}Habit's{% endif %}{% if type == "0" %}TODO's{% endif %}{% if type == "2" %}Daily's{% endif %}<br/>
        <input class=add id=habit_title{{ type }} type=text/><button id=addNewHabit class=add>+</button>
    </dt>
{% endblock listHead%}
{% block listItems %}
    {% if tasks %}
    {% for task in tasks %}
        <dd class=task id={{ task.id }}>
        <ul>
            <li class=taskHit>
                <button class="taskButton">☒</button><button class="taskButton">☑</button>
            </li>
            <li class=taskText>{{ task.title }}</li><li class=taskButtons>
                <button class="taskButton taskEditButton">✎</button>
            </li>
        </ul>
    </dd>
    {% endfor %}
{% else %}
{% endif %}
{% endblock listItems %}
{% block listFooter %}
</dl>
{% endblock listFooter %}