{% extends "tasks/habits.html" %}
{% block listHead %}
{% if all %}
    {{ block.super }}
{% else %}
{% endif %}
{% endblock listHead %}
{% block listItems %}
    {% if tasks %}
    {% for task in tasks %}
        <dd class=task id={{ task.id }}>
        <ul>
            {% if task.cost %}<li class=taskHit>
                <img src=http://127.0.0.1:8000/static/tasks/images/dolars.png /><span>{{ task.cost }}</span>
            </li>{% endif %}
            <li class=taskText>{{ task.title }}</li>
        </ul>
    </dd>
    {% endfor %}
{% else %}
{% endif %}
{% endblock listItems %}
{% block listFooter %}
{% if all %}
    {{ block.super }}
{% else %}
{% endif %}
{% endblock listFooter %}