dl {
    list-style-type: none;
    padding: 0px;
    padding-right: 12px;
    display: inline-block;
    /* width: 240px;*/
}

dd.task {
    margin: 1px;
    padding: 3px;
    font-size: 20px;
    min-width: 200px;
    max-width: 200px;
    border: 1px solid #5f7b7a;
    background-color: #C7F464;
    display: block;
    -webkit-border-radius: 2px;
}