<html>
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'users/jquery-ui.css' %}"/>
    <script src="{% static 'users/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'users/jquery-ui.js' %}"></script>
    <script src="{% static 'users/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'users/common.js' %}"></script>
    <script src="{% static 'tasks/tasks.js' %}"></script>
    <script src="{% static 'tasks/Botones.js' %}"></script>
    <script src="{% static 'users/register.js' %}"></script>
    <script src="{% static 'users/login.js' %}"></script>
    <script src="{% static 'tasks/jquery.timeTo.js' %}"></script>
    <script src="{% static 'tasks/timer.js' %}"></script>
    <link rel="stylesheet" href="{% static 'users/UsersStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'tasks/TasksStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'tasks/timer.css' %}"/>
    <script>
        /* Here i can code everything then move it outside... */
        var loged = false;
        $(function () {
            $("div#hp").hide();
            $("div#credits").hide();
            $("div#avatar").hide();
            //$("div#userOptions").hide();
            $("#xEffect").hide();
            $("#creditsEffect").hide();

            initDialogs();
            User.login();
        });
        /*
            Logs
         */
        $(function () {
            $(window).keypress(function(e) {
               if (e.which == 96 || e.which == 126) {
                   $.get("getLogs").done(function(data){
                        $('div#console div#window').html(data);
                        $("div#window").animate({scrollTop:10000000}, 'slow');
                   }).fail(function(){
                        location.reload();
                   });
                   $('#console').slideToggle();
               }
            });
        });


        var User = {
            login: function () {
                $.ajax({
                    type: "GET",
                    url: "login",
                    data: {},
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                }).done(function (msg) {
                            try {
                                var user = $.parseJSON(msg);
                                loged = true;
                                $("div#userOptions").append("<a id=logoutButton href=#>Logout</a>");
                                User.logout();
                                Tasks.load();
                                $("div#hp").fadeIn();
                                $("div#hp span").text(user[0].fields.hp);
                                $("div#credits").fadeIn();
                                $("div#credits span").text(user[0].fields.credits);
                                $("div#avatar").fadeIn();
                            }
                            catch (e) {
                                $("#buttonRegister").fadeIn();
                                $("div#header").css('text-align', 'center');
                                $("div#content").css('text-align', 'center');
                                $("div#header").html("<h1 id=login>Ready to Game?</h1>");
                                $("div#content").html(msg);
                                $("body").fadeIn();
                                $("button#buttonLogin").button().click(function (event) {
                                    event.preventDefault();
                                    response = Login.request();
                                })
                            }
                        })
            },
            logout: function () {
                $("a#logoutButton").button().click(function (event) {
                    event.preventDefault();
                    $.ajax({
                        type: "GET",
                        url: "logout"
                    }).done(function (msg) {
                                $(this).hide();
                                location.reload();
                            })
                });
            }
        }

        var Task = {
            view: function () {

            },
            update: function () {

            }
        }
    </script>
</head>
<body>
<div id=header>
    <div id=avatar><img src="{% static 'users/images/avatar.png' %}" /></div>
    <div id=hp><span>0</span><img src="{% static 'tasks/images/blood.png' %}" /></div>
    <div id=credits><span>0</span><img src="{% static 'tasks/images/money.png' %}" /></div>
    <div id=timer><img src="{% static 'tasks/images/timer.png' %}" /></div>
    <div id=userOptions></div>
</div>
<div id=content></div>
<div id=footer>
    <img class=button  id=completed src="{% static 'tasks/images/completed.png' %}" />
    <img class=button  id=reward src="{% static 'tasks/images/reward.png' %}" />
    <img class=button  id=trash src="{% static 'tasks/images/fire.png' %}" />
</div>

<div id=dialogAddTask title="New Task">
    <p class="validateTips">Clear and short!.</p>
    <dl class="list_habit ui-sortable" id="list2" style="display: inline-block;">
    <dd class="task" id="44" style="zoom: 0.7">
        <ul>
            <li class="taskText">This is a task u need to do :D</li>
        </ul>
        </dd>
        </dl>
    <form name=formDialogAddTask>
    <fieldset>
        <label for="value">Gain</label>
        <input value=10 type="number" name="value" id="value" class="text ui-widget-content ui-corner-all" />
    </fieldset>
  </form>
</div>

<div id="dialog-confirm" title="Are you shure?" class=hidden>
    Are you shure about that?
</div>


<audio id=alarmSound preload loop>
    <source src="{% static 'tasks/sounds/alarm.ogg' %}" type="audio/ogg">
</audio>
<audio id=tickSound preload loop>
    <source src="{% static 'tasks/sounds/tick.ogg' %}" type="audio/ogg">
</audio>


<div id="dialog-timer" title="Timer">
</div>

<div id="dialog-timer-minutes" title="How long?">
    <label for="minutes">Minutes</label>
        <form name=formTimerMinutes><input value=10 type="number" name="minutes" id="minutes" class="text ui-widget-content ui-corner-all" /></form>
</div>

<div id="dialog-confirm-todo" title="TODO">
    The TODO Item will be removed from the list.
</div>

<div id=console>
    <div id="window">
        ...
    </div>
</div>

<div id=xEffect ><span id=textEffect></span></div>
<span id=creditsEffect>x</span>
<button id=buttonRegister>New?</button>
<button id=buttonBack>Back</button>

</body>
</html>