<html>
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'users/jquery-ui-custom.min.css' %}"/>
    <script src="{% static 'users/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'users/jquery-ui.js' %}"></script>
    <script src="{% static 'users/common.js' %}"></script>
    <script src="{% static 'tasks/tasks.js' %}"></script>
    <link rel="stylesheet" href="{% static 'users/UsersStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'tasks/TasksStyle.css' %}"/>
    <script>
        /* Here i can code everything then move it outside... */
        var loged = false;
        $(function () {
            $("div#trash").droppable({
                drop: function (event, ui) {
                    Tasks.delete(ui.draggable.get(0));
                    ui.draggable.get(0).remove();
                }
            }).hide();
            $("div#health").hide();
            $("div#credits").hide();
            $("div#avatar").hide();
            $("div#userOptions").hide();
            User.login();
        });

        var User = {
            login: function () {
                $.ajax({
                    type: "POST",
                    url: "login",
                    data: {csrfmiddlewaretoken: '{{csrf_token}}', username: '', password: '' },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                }).done(function (msg) {
                            if (msg != "False") {
                                var user = $.parseJSON(msg);
                                loged = true;
                                $("div#userOptions").append("<a id=logoutButton href=#>Logout</a>");
                                User.logout();
                                Tasks.load();
                                $("div#health").fadeIn();
                                $("div#health span").text(user[0].fields.hp);
                                $("div#credits").fadeIn();
                                $("div#credits span").text(user[0].fields.credits);
                                $("div#avatar").fadeIn();
                            }
                            else {
                                $.ajax({
                                    type: "GET",
                                    url: "accounts/login/",
                                    data: {csrfmiddlewaretoken: '{{csrf_token}}'},
                                    error: function (request, status, error) {
                                        alerta(request.responseText);
                                    }
                                }).done(function (msg) {
                                            $("div#header").html("<h1>Ready to Game?</h1>");
                                            $("div#content").html(msg);
                                        })

                            }
                        })
            },
            logout: function () {
                $("a#logoutButton").button().click(function (event) {
                    event.preventDefault();
                    $.ajax({
                        type: "GET",
                        url: "logout"
                    }).done(function (msg) {
                                $(this).hide();
                                location.reload();
                            })
                });
            }
        }

        var Task = {
            view: function () {

            },
            update: function () {

            }
        }
    </script>
</head>
<body>
<div id=header>
    <div id=avatar><img src="{% static 'users/images/avatar.png' %}" /></div>
    <div id=health><span>0</span><img src="{% static 'tasks/images/blood.png' %}" /></div>
    <div id=credits><span>0</span><img src="{% static 'tasks/images/money.png' %}" /></div>
    <div id=userOptions></div>
</div>
<div id=content></div>
<div id=footer>
    <div id=trash><img src="{% static 'tasks/images/fire.png' %}" /></div>
</div>
</body>
</html>